Makefile
Makefile.in
.deps
.libs

*.o
*.lo
*.la

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
*.tar.bz2
*.tar.gz
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh

/tests/client
/tests/server
/tests/test

/xdl-compiler/parser.c
/xdl-compiler/parser.h
/xdl-compiler/scanner.c
/xdl-compiler/xdl-compiler
