Makefile
Makefile.in
.deps
.libs

*.o
*.lo
*.la
*~
*.swp

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh
/compile
/libxr.pc
/tags
/.test

/tests/client
/tests/server
/tests/test
/tests/mlserver
/tests/tclient
/tests/unit/t001-http
/tests/unit/t002-call
/tests/TCommon.c
/tests/TCommon.h
/tests/TTest*.c
/tests/TTest*.h

/xdl-compiler/parser.c
/xdl-compiler/parser.h
/xdl-compiler/scanner.c
/xdl-compiler/xdl-compiler

/docs/html
/docs/man3
