Makefile
Makefile.in
.deps
.libs

*.o
*.lo
*.la
*~
*.swp
*.exe
*.dll

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh
/compile
/libxr.pc
/tags
/.test
/.vimrc

/tests/client
/tests/server
/tests/test
/tests/mlserver
/tests/tclient
/tests/unit/t001-http
/tests/unit/t002-call
/tests/TCommon.c
/tests/TCommon.h
/tests/TTest*.c
/tests/TTest*.h
/tests/leak*.log
/tests/vala/T*
/tests/vala/test
/tests/vala/test.c
/tests/vala/test.h

/tests/zblok/ZM*
/tests/zblok/zm-client
/tests/zblok/zm-server

/xdl-compiler/xdl-parser.c
/xdl-compiler/xdl-parser.h
/xdl-compiler/xdl-parser.y
/xdl-compiler/xdl-compiler
/xdl-compiler/lemon

/docs/html
/docs/man3
